@font-face {
  font-family: "Gilroy";
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

a {
  text-decoration: none;
  letter-spacing: 0.01em;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.button {
  background-color: transparent;
  border: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.button:hover,
.button:focus {
  background-image: none;
  background-color: #f0c52e;
  color: #000000;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header {
  background-color: #f7e296;
  padding: 0 60px;
  min-height: 300px;
}

.logo a,
.logo p {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000;
}

.header-logo a:hover,
.header-logo a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo a:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-form {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  width: 440px;
}
.main-header-search {
  border: none;
  background-color: transparent;
}

.main-header-search::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-search::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.main-header-search:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-search:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-search:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-search:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-search:focus {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.search-button {
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.main-header-user-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.main-header-user-link:hover,
.main-header-user-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-user-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-menu,
.catalog-menu {
  list-style: none;
}

.main-header-menu-item > a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.main-header-menu-item>a:hover,
.main-header-menu-item>a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header-menu-item>a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-menu-item a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
}

.catalog-menu-item a:hover,
.catalog-menu-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-menu-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-nav,
.slider-list {
  list-style: none;
}

.slider-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: bold;
  color: #000000;
}

.slider-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.more-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0.2em;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 30%,
    #f0c52e 30%,
    #f0c52e 70%,
    transparent 70%,
    transparent 100%
    );
}

.more-link:hover,
.more-link:focus {
  background-image: none;
  background-color: #f0c52e;
}

.more-link:active {
  color: rgba(0, 0, 0, 0.3);
  background-image: none;
  background-color: #f0c52e;
}

.parameters tr:first-child {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.parameters tr:last-child {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.categories-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.categories-item-link  {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.categories-item-link img {
  background-color: #f7e296;
}

.categories-item-link img:hover,
.categories-item-link img:focus {
  background-color: #f0c52e;
}

.categories-item-link:active {
  background-color: #f0c52e;
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.3)
}

.services {
  background-color: #e5e5e5;
  margin-bottom: 100px;
}

.services-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0.2em;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 40%,
    #f0c52e 40%,
    #f0c52e 60%,
    transparent 60%,
    transparent 100%
    );
}

.services-link:hover,
.services-link:focus {
  background-image: none;
  background-color: #f0c52e;
  color: #000000;
}

.services-link:active,
.services-tab.current a {
  background-image: none;
  background-color: #000000;
  color: #f7e184;
}

.services-item-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
}

.services-item-description {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.brands-list {
  list-style:none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.brand a{
  display: block;
  width: 260px;
  height: 100px;
}

.brand-1 {
  background-image: url("../img/logo-1-grey.png");
}

.brand-1:hover {
  background-image: url("../img/logo-1-hover.png");
}

.brand-2 {
  background-image: url("../img/logo-2-grey.png");
}

.brand-2:hover {
  background-image: url("../img/logo-2-hover.png");
}

.brand-3 {
  background-image: url("../img/logo-3-grey.png");
}

.brand-3:hover {
  background-image: url("../img/logo-3-hover.png");
}

.brand-4 {
  background-image: url("../img/logo-4-grey.png");
}

.brand-4:hover {
  background-image: url("../img/logo-4-hover.png");
}

.about-us-header,
.contacts-header {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  color: #000000;
}

.about-us-text,
.contacts-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.delivery-services-list {
  list-style: none;
}

.delivery-service {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: 0;
  color: #000000;
}

.footer-logo p,
.footer-logo a{
  color: #ffc600;
}

.footer-logo a:hover,
.footer-logo a:focus {
  color: rgba(255, 198, 0, 0.6);
}

.footer-logo a:active {
  color: rgba(255, 198, 0, 0.3);
}

.main-footer {
  background-color: #464646;
  padding-top: 65px;
}

.main-footer ul {
  list-style: none;
  padding: 0;
}

.footer-links-item a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-links-item .footer-logout {
  color: rgba(255, 255, 255, 0.3);
}
.footer-links-item a:hover,
.footer-links-item a:focus {
  color: #ffffff;
}

.footer-links-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-menu-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.footer-menu-item a:hover,
.footer-menu-item a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-menu-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.social-button {
  color: #ffffff;
}

.footer-address,
.footer-phone {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0;
  color: #ffffff;
}

.footer-academy-logo:hover img,
.footer-academy-logo:focus img {
  opacity: 0.6;
}

.footer-academy-logo:active img {
  opacity: 0.3;
}

.write-us-form button {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 40%,
    #f0c52e 40%,
    #f0c52e 60%,
    transparent 60%,
    transparent 100%
    );
}

.write-us-form button:hover,
.write-us-form button:focus {
  background-image: none;
  background-color: #f0c52e;
  color: #000000;
}

.write-us-form label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0;
  color: #000000;
}

.write-us-form input,
.write-us-form textarea {

  background-color: #f2f2f2;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 0;
  color: #000000;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: #ebebeb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  border: 2px solid #f7e296;
  color: #464646;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
}

.write-us-form input:invalid {
  background-color: #f6dada;
}

.write-us-form input::-moz-placeholder,
.write-us-form textarea::-moz-placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(70, 70, 70, 0.4);
}

.write-us-form input::-webkit-input-placeholder,
.write-us-form textarea::-webkit-input-placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(70, 70, 70, 0.4);
}

.write-us-form input:-ms-input-placeholder,
.write-us-form textarea:-ms-input-placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(70, 70, 70, 0.4);
}

.main-header-search {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-search {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-search {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-logout {
  color: rgba(0, 0, 0, 0.3);
}

.main-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  color: #000000;
}

.crumbs-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.crumbs-item a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  color: #000000;
}

.crumbs-item a:hover,
.crumbs-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.crumbs-item a:active {
  color: rgba(0, 0, 0, 0.1);
}

.left-side {
  background-color: #eeeeee;
}

.left-side h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #000000;
  margin: 0;
}

.filter-form fieldset {
  border: none;
  padding: 0;
}

.filter-form legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: #000000;
}

.filter-form ul {
  list-style: none;
}

.filter-form label {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.filter-form .button {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 40%,
    #f0c52e 40%,
    #f0c52e 60%,
    transparent 60%,
    transparent 100%
    );
}

.filter-form .price-label,
.filter-form .price-value {
  border: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.catalog-sort {
  background-color: #ebebeb;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog-sort h2{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #000000;
  margin: 0;
  padding-left: 70px;
  width: 200px;
}

.catalog-sort-links {
  list-style: none;
}

.catalog-sort-item a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.catalog-sort-item.current a,
.catalog-sort-item a:active {
  color: #000000;
}

.catalog-sort-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.product a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  width: 260px;
}

.product-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #464646;
}

.add-to-cart {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 40%,
    #f0c52e 40%,
    #f0c52e 60%,
    transparent 60%,
    transparent 100%
    );
}

.add-to-compare {
  border: none;
  background-color: transparent;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.add-to-compare:hover,
.add-to-compare:focus {
  color: #000000;
}

.add-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

/*
.catalog-nav {
  background-color: #ebebeb;
}
*/

.pagination-list {
  list-style: none;
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 70px;
  margin-top: 20px;
  width: 760px;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  margin-bottom: 80px;
}

.pagination-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pagination-list-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-list-item a:active {
  color: #000000;
}

.pagination-list-item.current a {
  color: #000000;
}

.catalog-nav-button {
  color: #000000;
}

.catalog-nav-button:hover,
.catalog-nav-button:focus {
  background-color: #d9d9d9;
}

.catalog-nav-button:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}


.write-as-input,
.write-as-textarea {
  outline: none;
  border: 2px solid transparent;
}

/*стили для сеток*/
.main-wrapper {
  width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 40px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.logo p {
  margin: 0;
}

.main-header-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.main-header-search {
  padding: 0;
  margin: 0;
  width: 357px;
}

.search-form {
  margin-right: 100px;
}

.main-header-compare {
  margin-left: auto;
}

.catalog-menu {
  display: none;
}

.main-header-menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.main-header-menu li:first-child {
  width: 440px;
  margin-right: 100px;
}

.main-header-menu li:last-child {
  margin-left: auto;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  min-height: 500px;
}

.slider-item-left {
  width: 50%;
}

.slider-item-right {
  width: 50%;
}

.categories {
  margin-bottom: 80px;
}

.categories-item-link p{
  white-space: normal;
}

.services .container {
  display: flex;
  min-height: 320px;
}

/*скрытые вкладки*/
.services-description-warranty,
.services-description-credit {
  display: none;
}

.services-nav li {
  margin: 10px 0;
}

.about-section.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.about-section.container section {
  width: 560px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper-center {
  display: flex;
  justify-content: center;
}

.footer-links-list {
  display: flex;
}

.footer-menu {
  margin: 0 auto;
}

.footer-menu-list {
  display: flex;
  width: 440px;
  justify-content: space-between;
}

.footer-address {
  width: 250px;
  text-align: left;
}

.footer-phone {
  width: 250px;
  text-align: right;
}

.footer-social {
  margin: 0 auto;
}

.footer-social ul {
  display: flex;
}

.footer-decoration-line {
  width: 80px;
}

.footer-academy-logo {
  width: 80px;
  text-align: right;
}

.modal-write-us {
  width: 760px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #ffffff;
}

.write-us-form input,
.write-us-form label {
  display: block;
  width: 360px;
}

.write-as-textarea {
  width: 760px;
}

.form-input-wrapper {
  display: flex;
  justify-content: space-between;
}

.modal-map {
  width: 960px;
  height: 560px;
}

.catalog-page header {
  min-height: 185px;
  margin-bottom: 45px;
}

.crumbs {
  padding: 0 60px;
  margin-bottom: 50px;
}

.crumbs-list li {
  margin-right: 40px;
}

.catalog-container {
  display: flex;
}

.filter-form {
  width: 200px;
  padding-left: 200px;
  padding-right: 70px;
}

.filter-header-wrapper {
  padding-left: 200px;
  background-color: #dcdcdc;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 70px;
}

.filter-price-range input {
  width: 50px;
}

.catalog {
  flex-grow: 1;
}

.catalog-sort ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.catalog-sort .catalog-sort-buttons {
  margin-left: auto;
}

.catalog-sort-item {
  margin-right: 30px;
}

/*временно*/
.hover-links {
  display: none;
}

.product-info-wrapper {
  width: 360px;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.products {
  padding-top: 50px;
  padding-left: 50px;
}

.product {
  padding: 20px;
}

.product p {
  margin: 0;
}

.pagination-list li:first-child {
  margin-right: auto;
  margin-left: 30px;
}

.pagination-list li:last-child {
  margin-right: 30px;
  margin-left: auto;
}
